@import "../../styles/_config";

.Player {
  display: block; // instead of list-item
  background: $light;
  position: relative;

  li {
    margin: 0;
    padding: 0.5rem 0.7rem;
    padding: 0.3rem 0.7rem 0.7rem;
  }

  .percentage_coloring {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.4rem;
    background: $primary; // fallback for if the browser does not support gradients
    background: linear-gradient(90deg, $secondary, $primary);
    transition: all 0.2s ease;
  }

  &:hover .percentage_coloring {
    transform: scale(1, 2);
    background: linear-gradient(90deg, #bf0073, #f20f0f);
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    font-family: inherit;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgb(78, 20, 78);
    }
    &:active {
      color: red;
    }
    &:focus {
      width: 250px;
    }
  }
}